
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1 class="display-2"><%= link_to("", "appsettings/pay_type_index", {class: "fa fa-folder"}) %></h1>
            <p><%= link_to("分類", "appsettings/pay_type_index") %></p>
        </div>
        <div class="col">
            <h1 class="display-2"><%= link_to("", "appsettings/pay_type_index", {class: "fa fa-folder"}) %></h1>
            <p><%= link_to("分類", "appsettings/pay_type_index") %></p>
        </div>
    </div>
</div>