
<div class="container align-self-center col-md-7">

  <% if @jounal_entry.errors.present? %>
    <% @jounal_entry.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <div class="payments_title">
    <div>支出の入力</div>
  </div>
  <div class="form-group payments_form">
      <%= render 'form' %>
  </div>
</div>
