
<div class="container align-self-center col-md-6">

  <% if @payment.errors.present? %>
    <% @payment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  <div class="form-group ">
      <%= render 'form' %>
  </div>
</div>
